/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LOWER 1


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp T       &kp Y     &kp U     &kp I     &kp O  
&kp F       &kp G     &kp H     &kp J     &kp K   
&kp C       &kp V     &kp B     &kp N     &kp M   
&kp SPACE   &mo 1     &none     &none     &none 
            >;
        };
        lower_layer {
            display-name = "Lower Layer";
            bindings = <
&none     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_CLR  &bootloader
&none     &none     &none          &none            &kp A
&none     &none     &none          &none            &kp B  
&none     &none     &none          &none            &none 
            >;
        };
    };
};
